@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
h2 {
  font-family: 'Open Sans Hebrew';
font-weight: 800;
font-style: italic;
text-transform: uppercase;
letter-spacing: 1.4px;
font-size: 72px;
}
p {
    font-family: 'Kreon';
    font-weight: 300;
    /*margin-bottom: 1em;*/
    line-height: 25px;
    display: block;
    padding-bottom: 9px;
    /*-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0px;*/
    m/*argin-left: 8%;*/
    text-align: block;
    font-size: 18px;
}




ul.b {

   list-style: none;
   margin-left: 0;
   padding-left: 24.5%;
   padding-right: 10%;
   padding-bottom: 9px;
   text-indent: -1em;
}

li.b {
  /*padding-left: 33.3%;*/
  text-indent: -1.55em;
  line-height: 17px;
  -webkit-margin-before: .1em;
    -webkit-margin-after: .3em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0px;
}

li.b:before {
  content: "⤖";
  color: #CA4603;
  padding-right: 10px;
}



li {
font-family: 'Kreon';
font-weight: 400;
font-style: italic;
font-size: 16px;
}
a {
  color: #CA4603;
}

#text-wrapper{
  padding-top: 130px;
  width: 80%;
 margin-left: 10%;
 position: relative;

 z-index: 100;
/*background-color: #FFCC66*/;
margin-bottom: 30%;
padding-bottom: 40%;


}

/*#banner {
   font-size: 300px;

}*/

#heading {
	margin-top: 120px;
	background: transparent;
	position: relative;
	text-indent: 10px;
 
	width: 100%;
}

#rest {

  z-index: -2;
  width: 90%;
  margin-left: 5%;
  margin-top: -90;
	background-color: #FFFCE7;
/*  left: 1.4%;
  right: .1%;*/
/*  background-image: url('/grid.png');*/
	position: absolute;


   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 0px 1px 1px;


/*	padding-left: 35px;
	margin-left: 17px;*/
}
.bordered {
  display: inline-block;
  padding: 20px;
  /* Fallback dashed border
     - the 4px width here is overwritten with the border-image-width (if set)
     - the border-image-width can be omitted below if it is the same as the 4px here
  */
  border: dashed 4px #129195;
  
  /* Individual border image properties */
  border-image-source: url("potemkinvillage.local/dashed-teal.png");
  border-image-slice: 2;
  border-image-repeat: round;  
  
  /* or use the shorthand border-image */
 /* border-image: url("http://i.stack.imgur.com/wLdVc.png") 2 round;*/
  border-image: url("potemkinvillage.local/dashed-teal.png") 2 round;
  
}


/*The border image of this one creates wider gaps*/
.largeGaps {
  border-image-source: url("/dashed-teal.png");
  margin: 0 20px;
}

.text-stitches-top {
   margin-top:1px;
   margin-left: 1px;
   margin-right: 1px;
   border-top: 2px dashed rgba(14, 128, 32, 1);
   border-right: 3px dashed rgba(14, 128, 32, 1);
   -moz-box-shadow: 0px 0px 2px rgba(14, 128, 32, 1);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }

.text-stitches-bottom {
   margin-bottom:2px;
   margin-top: 45px;
   border-top: 2px dashed rgba(14, 128, 32, 1);
   -moz-box-shadow: 0px 0px 2px rgba(14, 128, 32, 1);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
  }

  .text-content {
    padding-left: 10%;
    padding-right: 10%;
  }




div.text-content{

  position: relative;
  padding-top: 120px;
  background-color: #FFFCE7;
  

  
}
div.text-content p {
   /*-webkit-margin-after: 9px;*/
  /* align-self: center;
   width: 78%;*/
  /* margin: auto;*/

}

div.text-content ul {
  margin-top: 12px;
  margin-bottom: 24px;
}
