#products img  {
	min-height: 250px;
	max-height: 250px;
}

/*.jumbotron h1, .jumbotron .row {
	margin-top: -20px;
	text-align: right;
}*/
div .col-sm-4, p {
	margin-top: 10px;
	margin-bottom: 30px;
	font-weight: bold;
	text-align: center;
	font-family: "HelveticaNeue LT 25 UltLight";
	font-size: 25px;
}

body > .container {
	padding-top: 60px;
}

div.broken {
  -webkit-animation: pulsate2  4s linear infinite;
	opacity: 1;
}

@-webkit-keyframes pulsate {
    0% {opacity: 1.0;}
    50% {opacity: 0.0;  transform: scale(0.985);}
    100% {opacity: 1.0;}
}


@-webkit-keyframes pulsate2 {
    0% {opacity: 1.0;}
    50% {opacity: 0.0;  transform: scale(0.985);}
    100% {opacity: 0.0; transform: scale(1.1520);}
}

div.fixed {
	-webkit-animation: pulsate2  4s linear infinite;
    /*-webkit-animation-iteration-count: 4;*/
    opacity: 0.0;

/* older webkit */
/*-webkit-transition: all infinite cubic-bezier(0.725, -0.050, 0.410, 1.030); */
/*   -moz-transition: opacity infinite cubic-bezier(0.725, -0.050, 0.410, 1.030); 
     -o-transition: opacity infinite cubic-bezier(0.725, -0.050, 0.410, 1.030); 
        transition: opacity infinite cubic-bezier(0.725, -0.050, 0.410, 1.030); /* custom */
/*
-webkit-transition-timing-function: cubic-bezier(0.725, 0, 0.410, 1); /* older webkit */
/*-webkit-transition-timing-function: cubic-bezier(0.725, -0.050, 0.410, 1.030); 
   -moz-transition-timing-function: cubic-bezier(0.725, -0.050, 0.410, 1.030); 
     -o-transition-timing-function: cubic-bezier(0.725, -0.050, 0.410, 1.030); 
        /*transition-timing-function: cubic-bezier(0.725, -0.050, 0.410, 1.030*!);*! !* custom *!*/
 
}

div.desaturated {
	transition: opacity 1s ease;
	opacity: 1;
}

div.saturated {
	-webkit-animation: pulsate2 4s linear infinite;
    /*-webkit-animation-iteration-count: 4;*/
	/*-webkit-animation: brighten 9s linear;*/
	opacity: 0;

}

/*div#magic.fixed {
	opacity: 0.0;
}
*/

#logo h1 {
	text-align: left;
	font-size: 40px;
	font-family: "TradeGothicLTStd-BdCn20";
	margin-top: -20px;
} 
div .row {
	margin-left: 10px;
	margin-right: 10px;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  14% {
    opacity: .6;
  }
  28% {
    opacity: 1;
  }
  42% {
    opacity: .4;
  }
  56% {
    opacity: .8;
  }
  70% {
    opacity: .2;
  }
  84%{
    opacity: .6;
  }
  100%{
    opacity: 0;
  }
}



@-webkit-keyframes fade-out2 {
	0%,10% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	30%{
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: .1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes brighten {
	0%, 75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  z-index: 6;
  position: relative;
  bottom: -305px;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 200px;*/
  background-color: #f5f5f5;
}


input[type="radio"], input[type="checkbox"] {
	margin:0em;
}
.inputLabels{
	float: left;
	line-height: 38px;
	margin-right: 10px;
	text-align: right;
}

.inputLabels .popover {
	line-height: 20px;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	margin-bottom: 8px;
}

.formcontent{
		border-radius: 15px;

}

.first-input {
	margin-top: 3px;
}

#notfound{
	width:90%;
	font-size: 14px;
	line-height: 20px;

}
#yelpurl{
	padding: 4px 6px;
	margin: 8px 0 8px 0;
	color: black;
	background: white;
	margin-right: 1em;
	display: inline-block;
	font-weight: normal;
}

#yelptitle {
	display: inline-block;
	margin-top: 11px;
}

h2{
	color:black;
	font-size:26px;
	line-height:38px;
	margin:0;
	border-radius: 0em 0em 0 0 ;
}

label{
	width: 100%;
	font-weight: bold;
}

#formbody{
	font-weight: bold;
	font-size:14px;
	text-align: left;

}

.block{
	float:left;
	width:48%;
	margin-left:10px;
}
#content{
	width:90%;
	margin: 0 auto 0 auto;

}
a{
text-decoration:none;
color: rgb(107, 107, 107);
transition: color .2s, text-shadow .2s;
}

a:hover{
color: rgb(66, 66, 66);
text-shadow: 0px 0px 0 rgba(0,0,0,0.1);
text-decoration: underline;
}
#yelpwidget{
	width: 340px;
	background: white;
	margin: 0 auto 0 auto;
	border-radius: 15px;

}
label{
	line-height: 33px;
}
h1{
	vertical-align: bottom;
}
.popover-title {
	display : none;
}
#codearea{
	margin-left:1em;
	margin-right:1em;
	display:inline-block;
}
body{
	color:black;
}
h1{
	text-align:center;
}
#yelpheader{
	margin-top: 1em;
}

#reviewlabel{
	margin-right: 57px;
}
#imagelabel{
	margin-right: 6px;
}
#stylelabel{
	margin-right: 67px;
}

/*body{
	width:100%;
	background-image:url('../../images/subtle_surface.png');
	background-repeat:repeat;
	font-family:helvetica;
}*/

#nav li{
	list-style:none;
	float:left;
	padding:.5em;
	font-size:20px;
	font-weight:bold;

}
#yelp{
	margin: 0 auto 0 auto;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;

}
#navbar{
	width:100%;
	height:40px;
	float: left;
}
#widgetpreview{
	border-right: 1px solid rgba(0, 0, 0, .2);
	overflow: hidden;

}
h2{
	text-align: center;
	margin-bottom: .5em;
}
#navbar-inner{
	margin:0 auto 0 auto;
	width:250px;;
}

#nav ul{
	margin-top:1em;
}

h3{
	line-height: 28px;
}

#yelpform{
	line-height: 26px;
	margin-left: 1em;
	margin-bottom: 0em;
}

#labels{
	width:130px;
	float:left;
}
.input-xlarge {
width: 232px;
}
select.input-xlarge{
	width: 246px;
}
#widgetbutton{
	margin-bottom:.5em;
	margin-left: 4em;
	margin-top: 1em;
	color: white;
	border:none;
	box-shadow: 0px 0px 4px rgba(0,0,0,.4);
}
#widgetbutton:hover{
background: #51a351;
}
#checkboxes{
	margin-top: 7px;
	float: left;
}
#businessimg{
	margin-top: 1em;
}

img{
	vertical-align: inherit;
}
#header img{
	vertical-align: middle;
}
input[type="radio"], input[type="checkbox"] {
	margin-bottom:25px;
}
#businessdescrip{
	margin-left:1em;
}

@media (max-width: 735px) {
	#content{
		width:100%;
	}
	.block{
		width:100%;
		margin-bottom:.5em;
		margin-left: 0em;
	}
	#yelp{
		width:100%!important;
	}
}

@media (min-width: 1050px) {
	.block{
		width:450px;
	}
	#content{
		width:950px;
	}
}

.contact { 
	position: relative; 
	overflow: hidden;
}
.map-overlay { 
	background: rgba(0,0,0,.7);
	padding-bottom: 130px;
}

.map-overlay p.sub-heading { color: #d1d1d1; }

.switch {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 20px;
	z-index: 100;
}

.switch h5 {
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.radio {
	position: relative;
	width: 45px;
	height: 25px;
	background: transparent;
	border: 1px solid #fff;
	-webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
	   	-ms-border-radius: 50px;
	   	 -o-border-radius: 50px;
			border-radius: 50px;
}

.elipse {
	position: absolute;
	display: block;
	width: 21px;
	height: 21px;
	background: #fff;
	top: 1px;
	left: 1px;
	-webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
	   	-ms-border-radius: 50px;
	   	 -o-border-radius: 50px;
			border-radius: 50px;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
			transition: all 0.2s linear;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.9);
	-moz-box-shadow:    0px 2px 3px 0px rgba(0, 0, 0, 0.9);
	box-shadow:         0px 2px 3px 0px rgba(0, 0, 0, 0.9);
}

.radio.active .elipse {
	left: 50%;
}

/* Form */
#contactform fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

.form-field span { display: block; }

.form-field span input, .form-field span textarea {
	border: none;
	outline: none;
	padding: 15px 0px;
	width: 100%;
	background: transparent;
	border-bottom: 1px solid rgba(255,255,255,.5);
	border-radius: 0px;
	color: rgba(255,255,255,.5);
	font-family: 'Cardo', serif;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: all 0.4s linear;
	   -moz-transition: all 0.4s linear;
			transition: all 0.4s linear;
}

.form-field span input:focus, .form-field span textarea:focus {
	color: #fff;
	border-bottom: 1px solid #fff;
}

.form-field span textarea {
	font-size: 16px;
	overflow: auto;
	height: 100px;
	padding: 15px 0px;
}

.form-field label {
	display: block;
	text-align: left;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 10px;
	letter-spacing: 0.2em;
}

/* Map */
#map {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -100;
}

#map.pushed {
	z-index: 0;
}
section,summary{display:block}ol,ul{list-style: none; margin: 0; padding: 0 150px;}
.gmnoprint img { max-width: none; }


/* Responsive */
@media (min-width: 768px) {
	.map-overlay { 
		padding-bottom: 150px;
	}

	.switch {
		bottom: 20px;
	}

	.form-field span input, .form-field span textarea {
		margin-bottom: 25px;
	}

	.form-click button {
		padding: 20px 0px;
	}

	.notification { padding: 15px 0px; }
}


@media (min-width: 1200px) {
	.map-overlay { 
		padding-bottom: 200px;
	}

	.switch {
		bottom: 20px;
	}

	.float-left {
		margin: 30px 0px 0px;
		width: 50%;
		float: left;
		padding-right: 15px;
	}

	.float-right {
		margin: 30px 0px 0px;
		width: 50%;
		float: right;
		padding-left: 15px;
	}

	.form-field label { font-size: 12px; }
	.form-field span input, .form-field span textarea {
		font-size: 20px;
		margin-bottom: 50px;
	}

	.form-field span textarea {
		font-size: 18px;
		height: 181px;
	}

	.form-click button {
		font-size: 12px;
		padding: 25px 0px;
	}
}


.form-click button {
	display: inline-block;
	position: relative;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 10px;
	letter-spacing: 0.2em;
	line-height: 1;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid rgba(255,255,255,.6);
	padding: 15px 0px;
	width: 100%;
	background: rgba(255,255,255,.1);
	-webkit-font-smoothing: antialiased;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	   	-ms-transition: all 0.3s;
	   	 -o-transition: all 0.3s;
			transition: all 0.3s;
}

.form-click button:hover {
	border: 1px solid #fff;
	background: rgba(255,255,255,.3);


}

/* =Header
-------------------------------------------------------------- */
header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 999;
}

.header-inner {
	padding: 10px;
	background: rgba(0, 0, 0, .8);
	-webkit-transition: background 0.5s ease-out;
	   -moz-transition: background 0.5s ease-out;
		-ms-transition: background 0.5s ease-out;
	 	 -o-transition: background 0.5s ease-out;
			transition: background 0.5s ease-out;
	border-bottom: none;
	width: 100%;
	opacity: 1;
	-webkit-animation: fadeInDown 0.5s cubic-bezier(.16, .68, .43, .99); 
	   -moz-animation: fadeInDown 0.5s cubic-bezier(.16, .68, .43, .99); 
		-ms-animation: fadeInDown 0.5s cubic-bezier(.16, .68, .43, .99);
		 -o-animation: fadeInDown 0.5s cubic-bezier(.16, .68, .43, .99);
			animation: fadeInDown 0.5s cubic-bezier(.16, .68, .43, .99);
}

.header-inner.scrolled {
	background: rgba(0, 0, 0, .8);
	-webkit-transition: background 1s ease-out;
	   -moz-transition: background 1s ease-out;
		-ms-transition: background 1s ease-out;
	 	 -o-transition: background 1s ease-out;
			transition: background 1s ease-out;
}

.push-active .header-inner {
	opacity: 0;
	-webkit-animation: fadeOutUp 0.5s cubic-bezier(.16, .68, .43, .99); 
	   -moz-animation: fadeOutUp 0.5s cubic-bezier(.16, .68, .43, .99); 
		-ms-animation: fadeOutUp 0.5s cubic-bezier(.16, .68, .43, .99);
		 -o-animation: fadeOutUp 0.5s cubic-bezier(.16, .68, .43, .99);
			animation: fadeOutUp 0.5s cubic-bezier(.16, .68, .43, .99);
}

.logo {
	opacity: 1;
	-webkit-transition: opacity 0.2s ease-out;
	   -moz-transition: opacity 0.2s ease-out;
		-ms-transition: opacity 0.2s ease-out;
	 	 -o-transition: opacity 0.2s ease-out;
			transition: opacity 0.2s ease-out;
}

.logo:hover {
	opacity: .5;
	-webkit-transition: opacity 0.2s ease-out;
	   -moz-transition: opacity 0.2s ease-out;
		-ms-transition: opacity 0.2s ease-out;
	 	 -o-transition: opacity 0.2s ease-out;
			transition: opacity 0.2s ease-out;
}

@media (min-width: 768px) {
	.header-inner { padding: 8px 20px 10px; }
}
@media (min-width: 992px) {
	.header-inner { background: transparent; }
}

/* Menu Button */
.menu-button {
	cursor: pointer;
	display: block;
	width: 25px;
	height: 20px;
	right: 10px;
	position: absolute;
}

.menu-button .before, .menu-button .main, .menu-button .after {
	display: block;
	width: 25px;
	height: 2px;
	background: #fff;
	margin-bottom: 5px;
	-webkit-transition: -webkit-transform 0.2s;
	   -moz-transition:    -moz-transform 0.2s;
	    -ms-transition: 	-ms-transform 0.2s;
		 -o-transition: 	 -o-transform 0.2s;
			transition: 		transform 0.2s;
}

/* Button Hover */
.menu-button:hover .before {
	-webkit-transform: translateY(-2px);
	   -moz-transform: translateY(-2px);
		-ms-transform: translateY(-2px);
		 -o-transform: translateY(-2px);
			transform: translateY(-2px);
}

.menu-button:hover .after {
	-webkit-transform: translateY(2px);
	   -moz-transform: translateY(2px);
		-ms-transform: translateY(2px);
		 -o-transform: translateY(2px);
			transform: translateY(2px);
}

/* Button Active */
.push-active .menu-button .main { display: none; }

.push-active .menu-button .before {
	margin: 0;
	-webkit-transition: -webkit-transform 0.5s;
	   -moz-transition:    -moz-transform 0.5s;
	    -ms-transition: 	-ms-transform 0.5s;
		 -o-transition: 	 -o-transform 0.5s;
			transition: 		transform 0.5s;
	-webkit-transform: translateY(2px) rotate(45deg);
	   -moz-transform: translateY(2px) rotate(45deg);
		-ms-transform: translateY(2px) rotate(45deg);
		 -o-transform: translateY(2px) rotate(45deg);
			transform: translateY(2px) rotate(45deg);
}

.push-active .menu-button .after {
	margin: 0;
	-webkit-transition: -webkit-transform 0.5s;
	   -moz-transition:    -moz-transform 0.5s;
	    -ms-transition: 	-ms-transform 0.5s;
		 -o-transition: 	 -o-transform 0.5s;
			transition: 		transform 0.5s;
	-webkit-transform: translateY(0) rotate(-45deg);
	   -moz-transform: translateY(0) rotate(-45deg);
		-ms-transform: translateY(0) rotate(-45deg);
		 -o-transform: translateY(0) rotate(-45deg);
			transform: translateY(0) rotate(-45deg);
}

@media (min-width: 768px) {
	.menu-button { right: 20px; }
}


.menu-button-grid {
	cursor: pointer;
	display: block;
	width: 25px;
	height: 20px;
	right: 10px;
	position: absolute;
}

.menu-button-grid .top-left, .menu-button-grid .top-right {
	display: block;
	float: left;
	width: 5px;
	margin: 0px 2px 4px;
	height: 5px;
	background: transparent;
	border: 1px solid #fff;
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
	 	 -o-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
}

.menu-button-grid .bottom-left, .menu-button-grid .bottom-right {
	display: block;
	float: left;
	width: 5px;
	height: 5px;
	margin: 0px 2px;
	background: transparent;
	border: 1px solid #fff;
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
	 	 -o-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
}

.menu-button-grid:hover .bottom-left, .menu-button-grid:hover .bottom-right, .menu-button-grid:hover .top-left, .menu-button-grid:hover .top-right {
	background: #fff;
}


@media (min-width: 768px) {
	.menu-button-grid { right: 20px; }
}

/* =Navigation
-------------------------------------------------------------- */
.push-nav{
	display: block;
	vertical-align: middle;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: 998;
	overflow: auto;
	background-color: #171a1c;
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
}

/* Menu Movement */
.push-right{
	-webkit-transform: translate3d(200%,0,0);
	   -moz-transform: translate3d(200%,0,0);
		-ms-transform: translate3d(200%,0,0);
		 -o-transform: translate3d(200%,0,0);
			transform: translate3d(200%,0,0);
}

.push-open{
	-webkit-transform: translate3d(100%,0,0);
	   -moz-transform: translate3d(100%,0,0);
		-ms-transform: translate3d(100%,0,0);
		 -o-transform: translate3d(100%,0,0);
			transform: translate3d(100%,0,0);
}

.wrap-push, .push-push{
	-webkit-transform: translate3d(-50%,0,0);
	   -moz-transform: translate3d(-50%,0,0);
		-ms-transform: translate3d(-50%,0,0);
		 -o-transform: translate3d(-50%,0,0);
			transform: translate3d(-50%,0,0);
}

/* Menu Animation */
.push-nav, #wrap, .push{
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(.16, .68, .43, .99);
	   -moz-transition:    -moz-transform 0.5s cubic-bezier(.16, .68, .43, .99);
		-ms-transition: 	-ms-transform 0.5s cubic-bezier(.16, .68, .43, .99);
		 -o-transition: 	 -o-transform 0.5s cubic-bezier(.16, .68, .43, .99);
			transition: 		transform 0.5s cubic-bezier(.16, .68, .43, .99);
}

/* Overlay for easy closing */
.navigation-overlay{ display: none; }

.push-active .navigation-overlay{
	background: transparent;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 997;
}

/* Links */
.push-nav .navigation {
	display: block;
	text-align: left;
	padding: 0 5% 0 10%;
}

.push-nav .navigation li {
	margin-bottom: 12px;

	/* Animation */
	opacity: 0;
	-webkit-animation: fadeOut 0.1s; 
	   -moz-animation: fadeOut 0.1s; 
		-ms-animation: fadeOut 0.1s;
		 -o-animation: fadeOut 0.1s;
			animation: fadeOut 0.1s;
}

.push-active .push-nav .navigation li {
	/* Animation */
	opacity: 1;
	-webkit-animation: fadeInRight 1s; 
	   -moz-animation: fadeInRight 1s; 
		-ms-animation: fadeInRight 1s;
		 -o-animation: fadeInRight 1s;
			animation: fadeInRight 1s;
}

.push-nav .navigation li:last-of-type { margin-bottom: 0px; }

.push-nav .navigation a {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: -0.05em;
	-webkit-transition: color 0.2s ease-out;
	   -moz-transition: color 0.2s ease-out;
		-ms-transition: color 0.2s ease-out;
		 -o-transition: color 0.2s ease-out;
			transition: color 0.2s ease-out;
}

.push-nav .navigation a:hover {
	color: #00d9ec;
	-webkit-transition: color 0.2s ease-out;
	   -moz-transition: color 0.2s ease-out;
		-ms-transition: color 0.2s ease-out;
		 -o-transition: color 0.2s ease-out;
			transition: color 0.2s ease-out;
}

/* Content */
.logo-nav { display: none; }

.footer-nav {
	width: 100%;
	position: absolute;
	bottom: 20px;
	left: 10%;

	/* Animation */
	opacity: 0;
	-webkit-animation: fadeOut 0.2s; 
	   -moz-animation: fadeOut 0.2s; 
		-ms-animation: fadeOut 0.2s;
		 -o-animation: fadeOut 0.2s;
			animation: fadeOut 0.2s;
}

.push-active .footer-nav {
	/* Animation */
	opacity: 1;
	-webkit-animation: fadeInRight 1s; 
	   -moz-animation: fadeInRight 1s; 
		-ms-animation: fadeInRight 1s;
		 -o-animation: fadeInRight 1s;
			animation: fadeInRight 1s;
}

.footer-nav .social li { display: inline-block; }

.footer-nav .social li a {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	opacity: .5;
	-webkit-transition: opacity 0.2s ease-out;
	   -moz-transition: opacity 0.2s ease-out;
		-ms-transition: opacity 0.2s ease-out;
	 	 -o-transition: opacity 0.2s ease-out;
			transition: opacity 0.2s ease-out;
}

.footer-nav .social li a:hover {
	opacity: 1;
	-webkit-transition: opacity 0.2s ease-out;
	   -moz-transition: opacity 0.2s ease-out;
		-ms-transition: opacity 0.2s ease-out;
	 	 -o-transition: opacity 0.2s ease-out;
			transition: opacity 0.2s ease-out;
}

.footer-nav h6 { display: none; }

/* Responsive */
@media (min-width: 768px) {
	.push-nav .navigation {
		text-align: center;
		padding-left: 5%;
	}
	.push-nav .navigation li {
		margin-bottom: 35px;
	}
	.push-nav .navigation a {
		font-size: 25px;
	}
	.logo-nav {
		display: block;
		position: absolute;
		width: 100%;
		text-align: center;
		top: 10%;

		/* Animation */
		opacity: 0;
		-webkit-animation: fadeOut 0.2s; 
		   -moz-animation: fadeOut 0.2s; 
			-ms-animation: fadeOut 0.2s;
			 -o-animation: fadeOut 0.2s;
				animation: fadeOut 0.2s;
	}
	.push-active .logo-nav {
		/* Animation */
		opacity: 1;
		-webkit-animation: fadeInRight 1s; 
		   -moz-animation: fadeInRight 1s; 
			-ms-animation: fadeInRight 1s;
			 -o-animation: fadeInRight 1s;
				animation: fadeInRight 1s;
	}
	.logo-nav a {
		opacity: .5;
		-webkit-transition: opacity 0.2s ease-out;
		   -moz-transition: opacity 0.2s ease-out;
			-ms-transition: opacity 0.2s ease-out;
		 	 -o-transition: opacity 0.2s ease-out;
				transition: opacity 0.2s ease-out;
	}
	.logo-nav a:hover {
		opacity: 1;
		-webkit-transition: opacity 0.2s ease-out;
		   -moz-transition: opacity 0.2s ease-out;
			-ms-transition: opacity 0.2s ease-out;
		 	 -o-transition: opacity 0.2s ease-out;
				transition: opacity 0.2s ease-out;
	}
	.footer-nav {
		left: 0;
		text-align: center;
		bottom: 6%;
	}
	.footer-nav h6 { display: block; color: #fff; }
}

.progress {
	background-color: #ff2390;
}

/*.push-nav .navigation a:hover {
	color: #ff2390;
}*/

.separator { 
	background: #ff2390;
}

.separator-small { 
	background: #ff2390;
}

.poster.accent:before {
	background: #ff2390;
}

.border-shape {
	border: 1px solid rgba(255, 35, 144, .3);
}

.progress-bar {
	border-bottom: 1px dotted rgba(255, 35, 144, .5);
}

.progress-bar.start:before {
	background: #ff2390;
}

.progress-bar.finish:before {
	background: #ff2390;
}

.filters li:before {
	background: #ff2390;
}

a {
 color: #ff2390;
 font-family: "Roboto";
 font-weight: 100;

}

a:hover {
  color: blue;
}


