#root-testing-container {
    border: 2px solid black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Input Sans';

}
#root-testing-container > * {
    width: 100%;


}
#root-testing-container > * > *:first-child {
    /* header */
    font-family: 'TradeGothicLTCom-Bd2';
    font-size: 20px;
}
#root-testing-container > * > *:nth-child(odd) {
    /* odd-numbered rows (for zebra striping) */
    background: rgba(250,250,250,1);
}
#root-testing-container > * > *:nth-child(even) {
    /* even-numbered rows */
    background: rgba(240,240,240,1);

}

#root-testing-container > * > * {
    /* The row. Doesn't have a lot of exposed properties */
}
#root-testing-container > * > *:hover {
    /* The row. Doesn't have a lot of exposed properties */
    background: lightblue;
}
#root-testing-container > * > * > * {
/ * Every cell */
text-align: center;
    text-align: center;
    padding: 10px 15px;
}

#root-testing-container > * > * > *:nth-child(1),
#root-testing-container > * > * > *:nth-child(2){
    /* The first and second columns */
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    text-align: center;


    padding: 10px 15px;
}

#root-testing-container > * > * > *:nth-child(2) {
    border-right: 2px dashed;


    #root-testing-container > * > * > *:nth-child(3),
    #root-testing-container > * > * > *:nth-child(4),
        /* Every cell */
    width: 50%;
    min-width: 200px;
    text-align: center;

    padding: 10px 15px;


}

/* set the inner borders with this one weird trick! */
table { border-collapse: collapse; }
td + td,
th + th { border-left: 1px solid inherit;}
tr + tr { border-top: 1px solid inherit; }